* {
    font-family: 'Noto Sans KR', sans-serif;
    color:#ede3e3;

}
body {
    background-image: url("./3.jpg");
    background-size: cover;
}
h1 {
    font-family: 'Train One', cursive;
    font-size: 10vh;
    text-align: center;
    background-image: none;
    background-color: #e2e2e2;
    color: black;
}
.eachTopSong {
    padding-left: 2vw;
    text-decoration: none;
}
ul {
    display: inline-flex;
    padding-left: 5vw;
    list-style: none;
}
h3 {
    padding-left: 5vw;
    font-size: 5vh;
    color: wheat;

}

.mainDiv {
    padding-left: 5vw;
    text-align: center;
}

.songLi {
    padding-left: 2vw;
}
.artist {
    text-align: center;
}

.mainPicture{
    transition: 0.5s;
    width: 8vw;
    height: 17vh;
    border-radius: 50%;
}

.mainPicture:hover {
    box-shadow: 0 6px 6px black, 0 6px 6px whitesmoke;
    width: 8.5vw;
    height: 18vh;
    
}
.album {
    text-align: center;
}
.playlist {
    text-align: center;
}

.subTitle {
    font-size: 3vh;

}
.songInfo {
    padding-left: 5vw;
    position:fixed;

}
li {
    list-style:none;
}

.together {
    display: inline;
    font-size: 3vh;

}
.lyricsAndSuggestion {
    margin-left: 32vw;
    padding: 0 15vw;
    padding-right: 6vw;

}

.onlyLyrics {
    margin-left: 25vw;
    padding: 0 19vw;
    padding-right: 2vw;
}

.title {
    font-size: 5vh;
}

iframe {
    width: 37vw;
    height: 50vh;
}

.song {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

.show {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding-right: 4vw;
}

.notShow {
    visibility: hidden;
}